<div class='panel panel-default'>
  <div class="panel-heading">Search tips</div>
  <div class="panel-body">
    <p>1. Select the items of interest to limit the search making it required; or</p>
    <p>2. Use keywords to search the COSMIN database.</p>
    <ul class="advanced-help">

      <li>Use "OR" before a word or phrase to add</li>
      <li>Use "AND" or "+" before a word or phrases to make it required</li>
      <li>Use "NOT" or "-" before a word or phrase to exclude</li>
      <li>Select "match all" to require all fields.</li>
      <li>Select "match any" to find at least one field.</li>
      <li>Use up and down arrows to choose an item from the autocomplete.</li>
    </ul>
    <p>See <a href="https://www.cosmin.nl/tools/database-systematic-reviews/" target="_BLANK">here</a> for examples of
      search strategies.</p>
  </div>
</div>