<h1>COSMIN database of systematic reviews of outcome measurement instruments</h1>
<br>
<p>The COSMIN initiative aims to improve the selection of outcome measurement instruments for research and clinical
  practice by developing methodology and practical tools for selecting the most suitable outcome measurement instrument.
  As part of this initiative, COSMIN systematically collects systematic reviews of outcome measurement instruments. Such
  systematic reviews are important tools for the selection of outcome measurement instruments for research and clinical
  practice and for identifying gaps in knowledge on the quality measurement properties of outcome measurement
  instruments.</p>
<p>
  In collaboration with <a href="https://mapi-trust.org/" target="_blank">MAPI Research Trust</a> and
  <a href="https://international.zuyd.nl/" target="_blank">Zuyd University of Applied Sciences (Heerlen, the
    Netherlands)</a>, COSMIN yearly performs search updates in PubMed and EMBASE to systematically identify systematic
  reviews of outcome measurement instruments.
</p>
<p>A systematic review is included in this database when it fulfills the following criteria: </p>
<ol>
  <li>The review should be a systematic review (i.e. a search in at least one electronic database was performed);</li>
  <li>The aim of the review should be to identify all outcome measurement instruments of interest and to summarize the
    evidence on their measurement properties;
  </li>
  <li>The construct of interest of the review should be (aspects of) health status, defined as (a) biological and
    physiological processes, OR (b) symptoms, OR (c) physical functioning, OR (d) social/psychological functioning, OR
    (e) general health perceptions, OR (f) health-related quality of life (based on the model of Wilson & Cleary, JAMA
    1995);
  </li>
  <li>The population of included studies should contain humans (patients or general population);</li>
  <li>The instruments of interest should be outcome measurement instruments, defined as instruments which can be/are
    applied in longitudinal studies to monitor changes in health over time (the outcome measure is the dependent
    variable);
  </li>
  <li>The review should evaluate and report on at least one or more measurement properties of the included
    instruments.
  </li>
</ol>
<p>Please, visit the <a href="https://www.cosmin.nl" target="_blank">COSMIN website</a> for more information about (the
  methodology of) systematic reviews of outcome measurement instruments and a
  <a href="https://www.cosmin.nl/tools/database-systematic-reviews/" target="_blank">manual for using this COSMIN
    database of systematic reviews.</a></p>
<p>We are grateful to <a href="https://www.zonmw.nl" target="_blank">ZonMw</a> for their support to develop this website
  (project number 29385041).</p>