<% @page_title = 'privacy' %>

<div class="advanced-search-form col-sm-12">


  <div class="row">



      <h1 class="">
      Disclaimer
  </h1>
    <p>
    Use of the website of ‘cosmin.nl’ and the associated COSMIN database ‘databse.cosmin.nl’ (hereafter to be referred to collectively as ‘COSMIN websites’) is subject to the following conditions and restrictions. Access to and use of the COSMIN websites means that the user has agreed to the following terms. All liability for any damage which might be incurred as a result of access to and use of the sites is emphatically disclaimed by the Amsterdam UMC
or the members of the COSMIN steering committee. No guarantee is given for the faultless and uninterrupted functioning of the sites.
    </p>
    <p>
No guarantee or declaration is given, either explicitly or implicitly, as regards the accuracy or completeness of the information published on the sites or to which the sites provide access. The Amsterdam UMC as well as the members of the COSMIN steering committee accept no responsibility whatsoever for the information and/or recommendations published on the sites or to which access is provided via the sites. Alterations can be made to this information and these recommendations without prior notice being given.
</p>
<p>
All data shown on the site, including text, photographs, illustrations, graphics, names or trade names, logos, product and service trademarks are the property of or licensed by Amsterdam UMC and are protected by copyright, trademark law and/or another form of intellectual property law. These property rights or intellectual property rights are in no way transferable to persons or legal persons who have access to the site. The content of the site may only be used for non-commercial and/or private purposes. The user of the site is not permitted to reproduce, change, remove, pass on, distribute or
disseminate the information on the site or make it available to third parties in exchange for payment without the express written permission of the Amsterdam UMC.
</p>
<p>
References or hyperlinks to other sites which are not the property of Amsterdam UMC areonly included for the information of the user of the sites. Amsterdam UMC gives no guarantee whatsoever nor do they accept any liability with regard to the content of such sites.
</p>
    <h1>
      Privacy
    </h1>
    <p>
    <strong>Cookies</strong> - A "cookie" is a small fragment of data that a website places in the internet browser of the device you use to visit the website (e.g. computer or smart phone).These cookies enable us to recognise your device and are used for various purposes.
    </p>
    <p>
    <strong>Functional cookies</strong> - Certain cookies are needed in order for the website to function correctly. These are referred to as functional cookies. These cookies are permitted under the current legislation and are not blocked by a cookie banner. Most internet browsers automatically accept cookies. If desired, you can configure your browser so that you will receive a warning whenever you receive a cookie or so that all cookies are rejected. Keep in mind, however, that you may no longer be able to use some of the website’s functionalities. Amsterdam UMC treats the data collected by functional cookies confidentially.
    </p>
    <p>
    <strong>Analytics cookies</strong> - Analytics cookies are another type of cookie that is used. These cookies are used for collecting and analysing data relating to visits to the website. This can include data on the date and time you visited the website, how often you visit the website or the pages on which you clicked. Amsterdam UMC uses Google Analytics for this and applies the instructions published by the Dutch Data Protection Authority on how to use Google Analytics in a manner that is privacy friendly on all of its websites. As such, Amsterdam UMC complies with the Telecommunications Act and does not need to request permission from the website visitor for the placement of these cookies. Amsterdam UMC uses this anonymised data for the improvement and modification of its websites. You can disable these cookies in your browser settings.
    </p>
</div>